/* 글로벌 css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #555555;
}

nav {
  background-color: #fff;
  padding: 10px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
}
